@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
  
</head>
<body>

    <br />

    <form>
        <input type="text" name="search" placeholder="Search...">
    </form>

</body>
</html>

<br />
<br />
<br />


<div class="row">
    <div class="col-md-6">
        <div class="thumbnail">
            <img src="~/Content/Pictures/WhiteGazania.jpg" alt="Sample Photo" />
            <div class="caption">
                <h3><strong><em>African Daisy</em></strong></h3>
                <p>
                    African daisies are flowering plants from the sunflower and daisy family, Calenduleae and include approximately 50 species.
                    African daisies are also known as South African, Cape or blue eyed daisies.
                    The scientific name of the African daisy is Osteospermum and all plants in this species are perennials although they do not like freezing conditions.
                    The scientific name of the African daisy, Osteospermum, comes from the Greek and Latin words ‘osteon’, meaning bone, and  ‘spermum’,  meaning seed.
                    African daisies have white, cream, pink, purple, mauve or yellow flowers
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", "Flowers", new { }, new { @class = "btn btn-primary", role = "button" })

                    @Html.ActionLink("Details", "Details", "Flowers", new { }, new { @class = "btn btn-info", role = "button" })

                    @Html.ActionLink("Delete", "Delete", "Flowers", new { }, new { @class = "btn btn-danger", role = "button" })
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="~/Content/Pictures/Echinacea_2010_01.jpg" alt="Sample Photo" />
            <div class="caption">
                <h3><strong><em>Echinacea</em></strong></h3>
                <p>
                    Echinacea is a genus, or group of herbaceous flowering plants in the daisy family.
                    The Echinacea genus has nine species, which are commonly called coneflowers.
                    They are found only in eastern and central North America, where they are found growing in moist to
                    dry prairies and open wooded areas. They have large, showy heads of composite flowers, blooming from
                    early to late summer. The generic name is derived from the Greek word ἐχῖνος (ekhinos),
                    meaning "hedgehog," due to the spiny central disk. These flowering plants and their parts have
                    different uses. Some species are cultivated in gardens for their showy flowers.
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", "Flowers", new { }, new { @class = "btn btn-primary", role = "button" })

                    @Html.ActionLink("Details", "Details", "Flowers", new { }, new { @class = "btn btn-info", role = "button" })

                    @Html.ActionLink("Delete", "Delete", "Flowers", new { }, new { @class = "btn btn-danger", role = "button" })
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="~/Content/Pictures/Trailing_Ice_Plant_Delosperma_cooperi.jpg" alt="Sample Photo" />
            <div class="caption">
                <h3><strong><em>Ice plant</em></strong></h3>
                <p>
                    Hardy ice plant (Delosperma) is a succulent, perennial ground cover with daisy-like flowers.
                    The ice plant is not called an ice plant because it is cold hardy, but rather because the flowers
                    and leaves seem to shimmer as though covered in frost or ice crystals. The plants grow to be about
                    3 to 6 inches tall and 2 to 4 feet wide.
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", "Flowers", new { }, new { @class = "btn btn-primary", role = "button" })

                    @Html.ActionLink("Details", "Details", "Flowers", new { }, new { @class = "btn btn-info", role = "button" })

                    @Html.ActionLink("Delete", "Delete", "Flowers", new { }, new { @class = "btn btn-danger", role = "button" })
                </p>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="thumbnail">
            <img src="~/Content/Pictures/Magnolia.jpg" alt="Sample Photo">
            <div class="caption">
                <h3><strong><em>Magnolia</em></strong></h3>
                <p>
                    Magnolia is a large genus of about 210 flowering plant species in the subfamily Magnolioideae of
                    the family Magnoliaceae. It is named after French botanist Pierre Magnol.
                    Magnolia is an ancient genus. Appearing before bees did, the flowers are theorized to have evolved to
                    encourage pollination by beetles. To avoid damage from pollinating beetles, the carpels of Magnolia
                    flowers are extremely tough. Fossilised specimens of M. acuminata have been found dating to 20
                    million years ago, and of plants identifiably belonging to the Magnoliaceae date to 95 million years ago.
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", "Flowers", new { }, new { @class = "btn btn-primary", role = "button" })

                    @Html.ActionLink("Details", "Details", "Flowers", new { }, new { @class = "btn btn-info", role = "button" })

                    @Html.ActionLink("Delete", "Delete", "Flowers", new { }, new { @class = "btn btn-danger", role = "button" })

                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="thumbnail">
            <img src="~/Content/Pictures/Ipomoea_purpurea.jpg" alt="Sample Photo">
            <div class="caption">
                <h3><strong><em>Morning Glory</em></strong></h3>
                <p>
                    Most morning glory flowers unravel into full bloom in the early morning.
                    The flowers usually start to fade a few hours before the "petals" start showing visible curling.
                    They prefer full solar exposure throughout the day, and mesic soils. Some morning glories, such
                    as Ipomoea muricata, are night-blooming flowers.
                    In some places, such as Australian bushland, some species of morning glories develop thick
                    roots and tend to grow in dense thickets. They can quickly spread by way of long, creeping stems.
                    By crowding out, blanketing and smothering other plants, morning glory has turned into a serious
                    invasive weed problem.
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", "Flowers", new { }, new { @class = "btn btn-primary", role = "button" })

                    @Html.ActionLink("Details", "Details", "Flowers", new { }, new { @class = "btn btn-info", role = "button" })

                    @Html.ActionLink("Delete", "Delete", "Flowers", new { }, new { @class = "btn btn-danger", role = "button" })

                </p>
            </div>
        </div>
    </div>



    <div class="col-md-6">
        <div class="thumbnail">
            <img src="~/Content/Pictures/Fotolia_100512941_XS.jpg" alt="Sample Photo">
            <div class="caption">
                <h3><strong><em>Iris</em></strong></h3>
                <p>
                    No wonder their name means 'Rainbow', because that's just what they are.
                    Rainbows of exquisite colourings to which more are added each year. But like the true 'blue' rose,
                    the true 'red'  iris has eluded us so far. However there are plenty of others to choose from.
                </p>
                <p>
                    @Html.ActionLink("Edit", "Edit", "Flowers", new { }, new { @class = "btn btn-primary", role = "button" })

                    @Html.ActionLink("Details", "Details", "Flowers", new { }, new { @class = "btn btn-info", role = "button" })

                    @Html.ActionLink("Delete", "Delete", "Flowers", new { }, new { @class = "btn btn-danger", role = "button" })

                </p>
            </div>
        </div>
    </div>


</div>
    